* {
    font-family: 'Fira Sans', sans-serif;
}
.header-examples {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background: lightgray;
    margin-bottom: 25px;
    margin-top: 25px;
}
.row {
    border: ridge 1px blue;
}
br {
    margin-top: 20px;
    margin-bottom: 20px;
}
hr {
    margin-top: 40px;
    margin-bottom: 40px;
}
.d-flex {
    border: ridge 1px blue;
}
#group-title {
    font-family: 'Fira Sans', sans-serif;
    margin-top: 45px;
    padding-bottom: 20px;
    border-bottom: solid 1px #cfcfcf;
    text-align: left;
    padding-left: 40px;
}
.groups-list {
    margin-bottom: 30px;
}
.group {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-gap: 15px;
    padding-left: 30px;
    padding-right: 20px;
    text-align: left;
    padding: 20px 0px;
    border-bottom: solid 1px #cfcfcf;
}
.group img {
    margin-left: 30px;
    max-height: 70px;
    border-radius: 100%;
}
.group h2 {
    margin-left: 25px;
    margin-bottom: 0px;
}
.group p {
    margin-left: 25px;
    font-size: 14px;
    color: #858585;
}
.add-group-button {
    color: #fff;
    border-radius: 15px;
    padding: 10px 0px; 
    font-size: 24px;
    background-color: #8BBE7A;
    width: 70vw;
    margin: 0 auto;
}
.add-group-button img {
    width: 30px;
    height: 30px;
}
footer {
    background-color: #8BBE7A;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
footer img {
    margin-top: 35px;
    /* border: ridge 1px blue; */
}

.nav-bar{
  box-sizing: content-box;
}

.trip-card{
  padding: 1.5rem 1.5rem;
  font-family: 'Fira Sans', sans-serif;
  text-align: left;
  font-size: 24px;
  color: #8BBF7A
}

.trip-card-head{
  padding: 2rem 2rem;
  font-size: 26px;
  font-family: 'Fira Sans', sans-serif;
  text-align: left;
  color: #444444;
}

.trip-font{
  font-size: 20px;
  color:#444444;
}
